.vis-hid {
    visibility: hidden;
}

@font-face {
    font-family: 'hyperfont';
    src: url('fonts/KodeMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'hyperfont1';
    src: url('fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --main-color: #FA8072;
    color-scheme: dark;
    font-size: 11.25px;
    color: var(--main-color);
}

img {
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background: center / cover no-repeat url('images/richard-horvath-is8jWT-mvng-unsplash.jpg');
    position: relative;
    text-align: center;
    user-select: none;
    font-family: 'hyperfont', monospace;
    overflow: hidden;
    color: var(--main-color);
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bar {
    height: max-content;
    color: #6495ED;
    background-color: rgba(27, 27, 27, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

#weather-icon {
    width: 2rem;
    height: 2rem;
}

main {
    display: grid;
    place-content: center;
    height: 85vh;
}

#clock {
    font-size: clamp(2rem, 15vw, 15rem);
    text-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: -15rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem;
}

#temperature {
    font-size: 1.5rem;
    color: #6495ED;
}

#celcius {
    font-size: 1.5rem;
    color: #6495ED;
    margin-left: 0.25rem;
}

#meridiem {
    font-size: 0.3em;
}

#greeting-msg {
    font-family: 'hyperfont1', system-ui;
    font-size: clamp(1.5rem, 1vw, 2.5rem);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px currentColor;
}

#menu {
    position: absolute;
    z-index: 90;
    font-size: 1.5rem;
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: max-content;
    background-color: rgba(19, 25, 30, 0.825);
}

.menu {
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(146, 146, 146);
    cursor: pointer;
    text-align: left;
}

.menu-item:hover {
    background-color: rgb(29, 37, 44);
}

.btn {
    padding: 0.75rem 1.5rem;
    position: relative;
    font-size: 1.6rem;
    color: #fff;
    background-color: #6495ED;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #4169E1;
}
