.vis-hid {
    visibility: hidden;
}

@font-face {
    font-family: 'hyperfont';
    src: url('fonts/KodeMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'hyperfont1';
    src: url('fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --main-color: #FA8072;
    color-scheme: dark;
    font-size: 11.25px;
    color: var(--main-color);
}

img {
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background: center / cover no-repeat url('images/richard-horvath-is8jWT-mvng-unsplash.jpg');
    position: absolute;
    text-align: center;
    user-select: none;
    font-family: 'hyperfont', monospace;
    color: var(--main-color);
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bar {
    height: max-content;
    color: #6495ED;
    background-color: rgba(27, 27, 27, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

#weather-icon {
    width: 2rem;
    height: 2rem;
}

main {
    display: grid;
    place-content: center;
    height: 85vh;
}

#clock {
    font-size: clamp(2rem, 10vw, 10rem);
    text-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    margin-top: -27rem;
    margin-left: -70rem;
    position: relative;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

#temperature {
    font-size: 2.5rem;
    position: absolute;
    justify-content: left;
    color: #6495ED;
    margin-left: -69rem;
    margin-top: 35px;
}

#celcius {
    font-size: 4.5rem;
    color: #6495ED;
    margin-left: 0.25rem;
}

#meridiem {
    font-size: 0.3em;
}

#greeting-msg {
    font-family: 'hyperfont1', system-ui;
    font-size: clamp(1.5rem, 1vw, 1.5rem);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px currentColor;
    margin-top: -16rem;
    margin-left: -95rem;
    justify-content: left;
}

#menu {
    position: absolute;
    z-index: 90;
    font-size: 1.5rem;
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: max-content;
    background-color: rgba(19, 25, 30, 0.825);
}

.menu {
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(146, 146, 146);
    cursor: pointer;
    text-align: left;
}

.menu-item:hover {
    background-color: rgb(29, 37, 44);
}

.btn {
    padding: 0.75rem 1.5rem;
    width: 52rem;
    position: absolute;
    top: 6rem; /* Position 1rem from the top */
    right: 1rem; /* Position 1rem from the right */
    font-size: 1.6rem;
    color: #fff;
    background-color: dimgrey;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #4169E1;
}

#quote {
    position: fixed;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 1000;
}

.iframe-container-wrapper {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 10;
    margin-top: 18rem;
}

.iframe-container iframe {
    border-radius: 12px;
    border: none;
    width: 300px;
    height: 220px;
    margin-top: -18rem;
    margin-left: 23rem;
    position: absolute;
}

.iframe-container-doc iframe {
    border-radius: 12px; /* Add border radius */
    border: none; /* Remove default border */
    width: 300px; /* Set a fixed width for iframes */
    height: 450px; /* Set a fixed height for iframes */
    margin-top: -18rem;
    margin-left: -5rem;
    position: absolute;
}



.iframe-container-calender iframe {
    border-radius: 12px; /* Add border radius */
    border: none; /* Remove default border */
    width: 300px; /* Set a fixed width for iframes */
    height: 220px; /* Set a fixed height for iframes */
    margin-top: 2rem;
    margin-left: 23rem;
    position: absolute;
}



.spotify-embed-container {
    position: absolute;
    width: 52rem;
    height: 25.5rem;
    overflow: hidden;
    border: none;
    border-radius: 15px; /* Adjust border radius if needed */
    margin-right: -91rem;
    margin-top: -30rem;
}

.spotify-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    border: none;
}
#strawpoll_iframe_1MnwkOLdAn7 {
    border-radius: 12px;
    border: none;
    width: 360px;
    height: 442px;
    margin-top: -18rem;
    margin-left: -13.5rem;
    position: absolute;
    visibility: visible;
    flex-grow: 1;
}

.strawpoll-embed {
    height: 255px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.miro-embed-container {
    position: absolute;
    width: 580px;
    height: 279px;
    margin-top: -4rem;
    margin-right: -91rem;
    overflow: hidden;
}

.miro-embed-container iframe {
    border-radius: 12px;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
